* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Include padding and borders in element's total width and height */
}

html, body {
  max-width: 100%;
  overflow-x: hidden; /* Hide horizontal scrollbar */
}

body {
  background-color: rgb(193, 199, 196); /*Entire background of body of webpage is light grey*/
  margin: 0;
  padding: 0;
  font-family: "Comfortaa", sans-serif; /*Font on entire body is from google fonts, Comfortaa, with sans-serif as a fallback*/
}

.mainHeader { /*The main header has 20 pixels fo padding surrounding it and has a sage green background color and has a height of 135 pixels.*/
  padding: 20px;
  background-color: rgb(148, 170, 148);
  height: 135px;
}

h1 { /*The font size of text in the h1 element is 5 ephemeral units and the font color is set to black.*/
  font-size: 5em;
  margin: 0;
  color: rgb(30, 31, 30);
}

nav { /*the nav element is in relative position and is pushed up 25 pixels from the bottom of where it sits inside of the header.
  The text is aligned to the right, and the cursor when hovering over elements within the nav bar will show a pointer.*/
  position: relative;
  bottom: 25px;
  text-align: right;
  cursor: pointer;
}

nav ul { /*the list within the nav element has no style type.*/
  list-style-type: none;
}

.nav { /*Elements with the .nav class selector have a display of inline-block so that they are positioned horizontally to one another.
  Elements with the .nav class selector have 10 pixels of padding around them and have a transition of 1 second when transforming when the cursor
  hovers over them.*/
  display: inline-block;
  padding: 10px; 
  transition: transform 1s, background-color 1s, box-shadow 1s;
}

.nav:hover { /*When hovering over elements in the nav bar, elements will have a grey background with a box-shadow and will
  appear 1.2x their initial size.*/
  box-shadow: 2px 2px 2px black;
  background-color: grey;
  transform: scale(1.2);
}

li a { /*list items with an anchor tag will have 10 pixels of padding surrounding them and are pushed up 10 pixels from
the bottom. They have no text decoration, have black font color, and have a font size of 1.5 ephemeral units.*/
  padding: 10px;
  bottom: 10px;
  text-decoration: none;
  color: black;
  font-size: 1.5em;
}

main { /*The main element is in relative position, has 100% width, and has 20 pixels of padding surrounding it*/
  position: relative;
  width: 100%;
  padding: 20px;
}

main .Alex { /*The image that has the class selector .Alex has a max width of 100% and has a height of 500 pixels.
  It has a margin of 20 pixels and has a dark grey box shadow.*/
  max-width: 100%;
  height: 500px;
  margin: 20px;
  box-shadow: 5px 5px 5px rgb(137, 141, 139);
}
#aboutHeader {
  position: absolute;
  text-align: center;
  text-shadow: 2px 2px 7px #111111;
  top: 150px;
  left: 600px;
  font-size: 75px;
  letter-spacing: .25em;
  color: #ffffff
}
.About {
  position: absolute;
  top: 235px;
  left: 575px;
  background-color: rgb(148, 170, 148);
  border: 3px solid rgb(89, 99, 89);
  box-shadow: 5px 5px 5px rgb(137, 141, 139);
  width: 65%; /* Adjust the width as needed */
  margin: 20px auto; /* Center the section horizontally */
}


main section p {
  margin: 10px;
  line-height: 1.5em;
  font-size: 1.25em;
}
hr {
height: 5px;
border-color: gray;
background-color: gray;
}
.Resume {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
  max-height: fit-content;
}

#resumeHeader {
  position: relative;
  text-align: center;
  top: 20px;
  text-shadow: 2px 2px 7px #111111;
  font-size: 75px;
  letter-spacing: .25em;
  color: #ffffff
}
.workExperience {
  height: 500px;
  margin: 20px;
  box-shadow: 5px 5px 5px rgb(137, 141, 139);
}
#projectsHeader {
  position: relative;
  text-align: center;
  top: 10px;
  text-shadow: 2px 2px 7px #111111;
  font-size: 75px;
  letter-spacing: .25em;
  color: #ffffff
}

.Projects {
 display: flex;
 flex-flow: row wrap;
  justify-content: flex-start;
  width: 100%;
  max-height: fit-content;
}
#cssSnip {
  border: 1px solid black;
  height: 350px;
  width: 500px;
  margin: 20px;
  box-shadow: 5px 5px 5px rgb(137, 141, 139);
  background-image: url("../assets/images/CSS.snippet.png");
  background-size: cover; /* Adjust the size of the background image */
  background-position: center; /* Position the background image */
    background-repeat: no-repeat; /* Prevent the background image from repeating */
}

